.container {
  margin-top: 75px !important;
  position: relative;
  margin: auto;

  .wrapper {
    opacity: 1 !important;
    .slider {
      p {
        color: white;
      }
    }
    p {
      font-size: 16px;
      color: white;
      width: 600px;
      overflow: hidden;
      line-height: 1.2rem;
      max-height: 12rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 10;
    }
    h3 {
      color: white;
      font-size: 40px;
    }
    h4 {
      color: green;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
    }
    h5 {
      color: white;
    }
  }
}

.block {
  position: relative;
  opacity: 0.9;
  border-radius: 10%;
}

.legend{
  font-size: 10px;
}
.legend :hover {
  color: orange;
  transition: 0.3s;
  cursor: pointer;
}
